<h1>Your GIFS</h1>
<div class="row">

  <div *ngFor='let g of giphy$ , let i = index' class="col-md-3">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">
      {{giphy$[i].title}}
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <img src="{{giphy$[i].images.preview_gif.url}}" >

      </a>
      <a href="#" class="list-group-item list-group-item-action disabled">Morbi leo risus
      </a>
    </div>
  </div>

</div>